<span class="left position-1" *ngIf="left1">{{left1}}</span>
<span class="left position-2" *ngIf="left2">{{left2}}</span>
<span class="left position-3" *ngIf="left3">{{left3}}</span>
<span class="left position-4" *ngIf="left4">{{left4}}</span>
<span class="right position-1" *ngIf="right1">{{right1}}</span>
<span class="right position-2" *ngIf="right2">{{right2}}</span>
<span class="right position-3" *ngIf="right3">{{right3}}</span>
<span class="right position-4" *ngIf="right4">{{right4}}</span>
