<router-outlet></router-outlet>
<button (click)="buttonService.dispatchButtonPress(Button.Left1)" class="left position-1"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Left2)" class="left position-2"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Left3)" class="left position-3"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Left4)" class="left position-4"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Right1)" class="right position-1"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Right2)" class="right position-2"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Right3)" class="right position-3"></button>
<button (click)="buttonService.dispatchButtonPress(Button.Right4)" class="right position-4"></button>
