<div class="star" [ngClass]="{active: creditCardService.selectedCard === CreditCard.Star}"></div>
<div class="pulse" [ngClass]="{active: creditCardService.selectedCard === CreditCard.Pulse}"></div>
<div class="maestro" [ngClass]="{active: creditCardService.selectedCard === CreditCard.Maestro}"></div>
<div class="mastercard" [ngClass]="{active: creditCardService.selectedCard === CreditCard.MasterCard}"></div>
<div class="plus" [ngClass]="{active: creditCardService.selectedCard === CreditCard.Plus}"></div>
<div class="visa" [ngClass]="{active: creditCardService.selectedCard === CreditCard.Visa}"></div>
