$purple: #9E81AB;
$blue: #80B4D3;
$dark-blue: #1B6DAC;
$lighter-grey: #F1F0E7;
$light-grey: #E1E1D6;
$grey: #C1C1C1;
$dark-grey: #BEBEBE;
$darker-grey: #9B9B9B;
$white: #FFFFFF;

$background-color: $purple;
$sign-background-color: $dark-blue;
$sign-shadow-color: $dark-grey;
$screen-color: $blue;
$screen-border: $light-grey;
$atm-background-color: $lighter-grey;
$text-color: $white;
$button-color: $grey;
$button-shadow: $darker-grey;
$button-line-inlay: $darker-grey;
